<!DOCTYPE html>
<html lang="en">
     <%- include('./partials/head.ejs') %> 
<body>
     
     <%- include('./partials/nav.ejs') %> 

     <div class="container-details">
    
          <h3><%= blog.title  %> </h3>

                               <img src="<%= blog.imgsrc  %> " alt="image news">                    
                                
                              <p><%= blog.body %></p>
                              <h6><%= blog.createdAt %></h6>


                             
                         
                                  
      
      </div>
               
             


   




     
</body>
</html>